<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все типы</title>
</head>
<body>

<div th:each="typeOfSupply : ${typeOfSupplies}">
    <a th:href="@{typeOfSupply/s/{id}(id=${typeOfSupply.getId()})}"
       th:text="${typeOfSupply.getName()}">typeOfSupply</a>
</div>
<br/>
<hr/>

<a href="/typeOfSupplies/new">Добавить тип</a>
<br>
<form th:method="GET" th:action="@{/providers}">
    <input type="hidden" name = "sort"th:value="true"/>
    <button type="submit">сортировать</button>
</form>
<br>


</body>
</html>